a {
    cursor: pointer;
    margin: 20px;
    padding: 20px;
}    

a:visited {
    color: blueviolet;
}

a:active {
    color: chartreuse;
}

a:hover {
    background-color: burlywood;
    color: rgb(244, 244, 244);
}