@font-face {
    font-family: 'Milky';
    src: url(./fontes/MilkyNice.otf),
    url(./fontes/MilkyNice.ttf);
}

@font-face {
    font-family: 'RedHands';
    src: url(./fontes/KGRedHands.ttf);
}

html{
 background-color: rgb(245, 245, 220);
}

h1 {
    font-family: 'Milky', Arial, Helvetica, sans-serif;
    font-size: 42px;
    text-align: center;
}

p {
    font-family: 'RedHands', Arial, Helvetica, sans-serif;
    color: rgba(53, 52, 52, 0.9);
    text-align: justify;
}