body {
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
}

.container {
    background-color: lightgrey;
    height: 300px;
    position: relative;
    margin-bottom: 20px;
}

.btn {
    width: 250px;
    height: 50px;
    background-color: lightseagreen;
    color: #fff;
    font-size: 1.2em;
}

.texto-centralizado-1 {
    width: 250px;
    height: 250px;
    background-color: orange;
    text-align: center;
    line-height: 250px; /* mesmo tamanho do nosso container, cuidado em trabalhar com tamanhos fixos */
}

.texto-centralizado-2 {
    position: absolute;
    top: 50%; /* referente ao pai */
    left: 50%;
    /*versao shothand**/
    transform: translate(-50%, -50%);
    
    /* transform: translateY(-50%); referente ao conteudo
    left: 50%; 
    transform: translateX(-50%); */
}

.alinhado-margin-auto {
    margin: auto; /* botao tem que trocar para display block */
    display: block;
}

.alinhado-absolute {
    position: absolute;
    margin: auto; /* não funciona com absolute*/
    /*zerando todos os valores, o margin auto consegue calculo, fazendo o posicionamento perfeito*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container-text-align {
    text-align: center; /* sempre colocar no PAI , se caso for no filho nao funciona */
}