* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 24px;
}

/*elemento em bloco ocupa toda largura*/
.em-bloco li {
    background-color: aqua;
    margin-bottom: 10px;
    width: 100px;
}

/*não consegue seta largura ou altura*/
.em-linha li {
    display: inline;
    background-color: aqua;
}

/*no inline block posso seta altura e largura*/
.em-linha-e-bloco li {
    display: inline-block;
    background-color: aqua;
    width: 100px;
    height: 100px;
}

.esconder {
    display: none;
}